/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .customer-care {
    display: block;
  }
  .footer .footer-middle {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* ================ Buttons ================== */
  .border-button {
    width: 100%;
  }
  .customer-care {
    display: none;
  }
  .footer .footer-middle {
    grid-template-columns: repeat(1, 1fr);
  }
}
