/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .slider-content h5 {
    font-size: 14px;
  }
  .slider-content h2 {
    font-size: 30px;
  }
  .slider-content p {
    font-size: 16px;
  }
  .section-title {
    font-size: 24px;
  }
  .customer-care {
    display: block;
  }
  .footer .footer-middle {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  /* ================ Buttons ================== */
  .hero-btn {
    background: #fab600 !important;
    color: #000 !important;
  }
  .slider-content {
    top: 100%;
    transform: translateY(0);
    text-align: start;
    margin: 15px 14px 40px 0px;
    transition: 0.5s;
  }
  .slider-content h5 {
    color: black;
    font-size: 12px;
  }
  .slider-content h2 {
    color: black !important;
    font-size: 20px;
  }
  .slider-content p {
    font-size: 14px;
  }
  .section-title {
    font-size: 24px;
  }
  .carousel-indicators .slider-dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: transparent !important;
    opacity: 1;
  }
  .carousel-indicators .slider-dot.active {
    background-color: #000 !important;
  }
  .product-warper {
    gap: 30px;
  }
  .product-warper .product .product-info .title {
    font-size: 20px;
  }

  .product-warper .product .product-info .desc {
    font-size: 16px;
  }
  .border-button {
    width: 100%;
  }
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 12px;
  }

  .card-text {
    font-size: 14px;
  }
  .customer-care {
    display: none;
  }
  .footer .footer-middle {
    grid-template-columns: repeat(1, 1fr);
  }
}
