/* ================ Global CSS Start ================== */
@font-face {
  font-family: UniversCondensed;
  src: url("../fonts/Univers-Condensed-Medium.ttf");
}
@font-face {
  font-family: UniversCondensedBold;
  src: url("../fonts/univers-condensed-bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; /* Ensures consistent sizing */
  /* overflow: hidden; */
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "UniversCondensed", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 16px;
  line-height: 1.6; /* Consistent line-height unit */
  background: #ffffff;
}

/* ================ Preloader Styling ================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5; /* Neutral light background */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #c30038; /* Accent color */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================ Image Styling ================== */
.img,
img {
  max-width: 100%;
  transition: all 0.6s ease-out;
}

/* ================ Link Styling ================== */
a,
.button {
  transition: all 0.6s ease-out;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

a:focus,
a:hover {
  text-decoration: none;
}

/* ================ Typography ================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "UniversCondensed", sans-serif;
  margin-top: 0;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

.margin-top-100 {
  margin-top: 100px;
}
.margin-top-150 {
  margin-top: 150px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-top-150 {
  margin-top: 150px;
}
/* Responsive Design */
@media (max-width: 992px) {
  .margin-top-100 {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .margin-top-100 {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .margin-top-100 {
    margin-top: 10px;
  }
}
/* ================ Lists ================== */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ================ Paragraph Styling ================== */
p {
  color: #999;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* ================ Label Styling ================== */
label {
  color: #555;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

/* ================ Selection Styling ================== */
*::selection {
  background: #fab600;
  color: #fff;
}

/* ================ Placeholder Styling ================== */
*::placeholder {
  color: gray;
  font-size: 13px;
}
/* ================ cursor Styling ================== */

.cursor-pointer {
  cursor: pointer;
}
/* ================ primary card style for all pages ================== */

.b-cat-card-container,
.b-cat-card-container-2 {
  border: 1px solid #707070;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.b-cat-card-container > image {
  height: 226px;
}

.b-cat-card-container > hr {
  border-top: 1px solid #707070;
}
.b-cat-card-container:hover .b-cat-card-container-title {
  color: #fab600;
}

.b-cat-card-container .b-cat-card-container-title {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;

  /* font-size: 26px; */

  opacity: 1;
  transition: all 0.5s ease-out;
}

.b-cat-card-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; /* Adjust the gap between items */
}
.b-cat-card-container-2 img {
  width: 100%;
}
.card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

/* ================ Buttons ================== */
.hero-btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff !important;
  background-size: 201% 100%;
  font-size: 16px;
  text-align: center;
  font-family: "UniversCondensedBold", sans-serif;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  transition: all 0.5s ease-out;
  background: linear-gradient(to right, #fab600 50%, transparent 50%);
  background-size: 201% 100%;
  background-position: right bottom;
}

.border-button,
.back-to-top-btn {
  font-size: 16px;
  text-align: center;
  font-family: "UniversCondensedBold", sans-serif;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000 !important;
  border: 1px solid #000;
  padding: 10px 20px;
  display: inline-block;
  transition: all 0.5s ease-out;
  background: linear-gradient(to right, #fab600 50%, white 50%);
  background-size: 201% 100%;
  background-position: right bottom;
}

.border-button:hover,
.hero-btn:hover {
  background-position: left bottom;
  color: #000 !important;
  cursor: pointer;
  border: 1px solid #c8c7c7 !important;
}

.back-to-top-btn:hover {
  background-position: left bottom !important;
  color: white;
  cursor: pointer;
}

.back-to-top-btn .bi-caret-up-fill {
  transform: translateY(10px);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 24px;
  color: #fab600;
}

.back-to-top-btn:hover .bi-caret-up-fill {
  transform: translateY(0);
  color: #000;
}

/* ================ Header Styling ================ */

/* ================ Products ================== */
.section-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
}

.product-warper {
  padding: 50px 0;
  gap: 60px;
}

.product-img-wrap .product-image {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* Initial state */
  transform-origin: center; /* Ensures scaling occurs from the center */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.product-img-wrap:hover .product-image {
  transform: translate(-50%, -50%) scale(1.1); /* Change the scale value for hover */
}

.product-warper .product .product-info .title {
  text-align: left;
  font-size: 36px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.product-warper .product .product-info .desc {
  text-align: left;
  font-size: 24px;
  color: #000000;
}

/* ================ Stories Section ================== */
.stories-Section {
}

.stories-card {
  border: 1px solid #9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensures cards have equal height */
}

.stories-card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}
.stories-img-wrap {
  width: 100%;
}

.stories-img-wrap img:hover {
  scale: 0.98;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-subtitle {
  font-size: 24px;
  color: #666;
  margin-bottom: 12px;
  font-weight: 400;
  margin-bottom: 0px !important;
}
.card-text {
  font-size: 20px;
  color: #000000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-backface-hidden .swiper-slide {
  visibility: visible !important;
}

/* General Section Styling */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

img.d-block.w-100 {
  width: 100%;
  height: auto;
}

/* Center Content Styling */

.breadcrumb-container h3 {
  font-size: 2rem;
  color: #fff; /* White color for text contrast */
  font-weight: bold;
  margin-bottom: 15px;
}

.breadcrumb-container p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.5;
}
.breadcrumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
}
.breadcrumb-content {
  margin-top: 50px;
  width: 100%;
}
/* Breadcrumb Section Styling */
.breadcrumb-navigation a:hover {
  color: #fab600 !important;
  transition: all 0.5s ease-out;
}
.breadcrumb-title .title-after {
  position: relative;
}

.breadcrumb-title .title-after::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Distance below the text */
  left: 0;
  width: 40px; /* Adjust length of the yellow bar */
  height: 5px; /* Thickness of the yellow bar */
  background-color: #ffc107; /* Yellow color */
  border: 0.5px solid #707070;
}
